{% extends "aiweb_templates/base.html" %}
{% block visualizer %}

<!--
<html>
<head>
<title>Ant Canvas</title>
-->
<script type="text/javascript" src="/static/aiweb/ants/vis/visualizer.js"></script>	
<script type="text/javascript">
	window.isFullscreenSupported = function() {
	return false;
	};

	function init() {
		var options = new Options();
		options.data_dir = '/static/aiweb/ants/vis/data/';
		options.embedded = true;
		var visualizer = new Visualizer(document.getElementById('visualizer'), options);
		visualizer.loadReplayData('{{ replaydata|safe }}');
	}
</script>
<!--
</head>
<body>
   <script>init();</script>
</body>
</html>
-->
<!--
<style type="text/css" ! important>
	html { margin:0; padding:0; }
	body { margin:0; padding:0; overflow:hidden; }
</style>
-->
<script>init();</script>
{% endblock %}

