{% extends "aiweb_templates/base.html" %}
{% block content %}
<h2> Mission statement </h2>
<p>
This is a testing server for this codebase:
</p>

<p>
<a href="http://github.com/smiley1983/aiweb">github.com/smiley1983/aiweb</a>
</p>
<p>
There are two purposes to running this server now.
</p>
<ul>
<li> To improve the codebase, discovering issues and bugs and prompting discussion about what such a server system should do.
<li> To provide a public space where people can see their bots playing against others.
</ul>
<p>
This server is not part of a planned contest: this is alpha testing of in-development code. There may be security issues, the database might get wiped, it's even plausible that someone might steal your precious source code from the server.
</p>
<p>
All that said, you are encouraged to upload bots here if you're interested in the AI programming games offered. There's value in writing bots for those games and running them on your own computer, but without a public server like this, nobody will know if you write the best bot in the world. The games used in the AI challenges were excellent, both for beginners and advanced programmers. This server is offered partly to give life to those games, which still have much potential for further AI development.
</p>

<h2> The future </h2>
<p>
In the short term, there are plans to:
</p>
<ul>
<li> update the TCP server system 
<li> get all of the programming languages running
<li> improve the website 
<li> sandbox the compilation step and address other possible security issues.
<li> get PlanetWars running (and perhaps Rock, Paper, Scissors as well)
</ul>
<p>
In the long run, it would be great to see another contest like the aichallenge, possibly even running a derivative of this code. Perhaps you're interested in running such a thing?
</p>
<p>
In the meantime, if you're looking for an active contest, have a look at <a href="http://theaigames.com/">The AI Games</a>. It looks like things are happening there.
</p>

</h2>

{% endblock %}


