{% extends "aiweb_templates/base.html" %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}

<center>

    <p> Welcome, {{user.username}}. </p>

    {% with template_name='upload_base.html' %}
        {% include "aiweb_templates/"|add:template_name %}
    {% endwith %}


    {% with gamename='Ants' %}
        {% include "aiweb_templates/upload.html" %}
    {% endwith %}

<p>
Results:
</p>
  {% with limit=5 %}
  	{% include "aiweb_templates/results.html" %}
  {% endwith %}

    {% with template_name='submissions.html' %}
        {% include "aiweb_templates/"|add:template_name %}
    {% endwith %}
    <a href="/aiweb/submission"> More submissions </a>

<!--
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
-->


</center>

    {% else %}

<center>
<p> Please <a href='/accounts/login'> Login </a> or <a href='/accounts/register'> Register </a> to continue. </p>
</center>


<!-- <p>{% trans "Forgotten password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p> -->
<!-- <p>{% trans "Not registered" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p> -->


    {% endif %}


{% endblock %}
