{% extends "aiweb_templates/base.html" %}
{% load replace %}

{% block content %}
<center>
<p> {{ gamename }} Leaderboard </p>
<table border="1" class="center">
<tr>
<th>
Rank
</th>
<th>
Username
</th>
<th>
Skill
</th>
<th>
Games played
</th>
</tr>

{% for rank in ranks %}
<tr>
<td>
{{ rank.0 }}
</td>
<td>
{{ rank.1.username }}
</td>
<td>
{{ rank.1.skill }}
</td>
<td>
{{ rank.1.games_played }}
</td>
</tr>
{% endfor %}
</table>
	{% if newer %}
		<a href="?{% replace request 'min' newer_val %}">
<!--		<a href="/aiweb/result/?min={{newer_val}}"> -->
		&lt;&lt;</a> &nbsp; &nbsp;
	{% endif %}
	{% if older %}
		<a href="?{% replace request 'min' older_val %}">
<!--		<a href="/aiweb/result/?min={{older_val}}"> -->
		&gt;&gt;</a>
	{% endif %}
</center>
{% endblock %}




