<p> Upload your code for {{ gamename }}: </p>
<form enctype="multipart/form-data" method="post" action="/aiweb/profile/upload_{{gamename}}_success/">
   {% csrf_token %}   
   <table>
       {{form.as_table}}
   </table>
   <input id="gamename" type="hidden" name="gamename" value={{ gamename }}>
   <input type="submit" value="Submit" id="Save"/>
</form>


<!--
<form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.non_field_errors }}</p>
  
  <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
  
  <p>
      {{ form.docfile.errors }}
      {{ form.docfile }}
  </p>
  
  <p><input type="submit" value="Upload"/></p>
</form>
-->
